<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Quiz Application</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/styles.css" rel="stylesheet">

</head>

<body id="page-top">
<div style="margin: 10px">

    <a class="navbar-brand js-scroll-trigger" th:href="@{/}">Quiz Application - game</a>
    <form action="#" th:action="@{/game}" th:object="${userAnswer}" method="post">
        <div class="form-row">
            <h3 th:text="'Question ' + ${currentQuestionNumber} + '/' + ${totalQuestionNumber} + ':'"></h3>
            <h4 th:text="${currentQuestion}"></h4>
        </div>
        <div class="form-row">
            <div class="form-group">
                <p>Select correct answer:</p>
                <th:block th:each="answer,iter : ${currentQuestionAnswers}">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="answersRadioOptions"
                               th:id="'answer_' + ${iter.current}" th:value="${answer}" th:field="*{answer}">
                        <label class="form-check-label" th:for="'answer_' + ${iter.current}"
                               th:text="${answer}">
                        </label>
                    </div>
                </th:block>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Next</button>
            </div>
        </div>
    </form>
</div>
<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Plugin JavaScript -->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom JavaScript for this theme -->
<script src="js/scripts.js"></script>

</body>

</html>
