<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Quiz Application</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/styles.css" rel="stylesheet">

</head>

<body id="page-top">
<div style="margin: 10px">

    <a class="navbar-brand js-scroll-trigger" th:href="@{/}">Quiz Application - game</a>
    <header class="bg-success text-white">
        <div class="container text-center">
            <h1>Congratulations!</h1>
            <p class="lead" th:text="'You finished ' + ${difficulty} + ' quiz about ' + ${categoryName} + ' with score ' + ${points} + '/' + ${maxPoints} + '.'"></p>
            <a class="btn btn-primary" href="select">Play again!</a>
        </div>
    </header>
</div>
<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Plugin JavaScript -->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom JavaScript for this theme -->
<script src="js/scripts.js"></script>

</body>

</html>
